/* This file contains all mixins for index page */
/* 
--- FLEX USAGE ---
    div {
        @include flex();
    }
--- END --- 
*/
/* 
--- TRANSITION USAGE ---
    div {
        @include transition(all 1s ease);
    }
--- END --- 
*/
/* 
--- TRANSFORM USAGE ---
    div {
        @include transform(scale(0));
    }
--- END --- 
*/
section#about {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  section#about {
    align-items: flex-start;
    width: 85%;
  }
}

section#about img {
  display: block;
  margin: auto;
  max-height: 35vh;
  width: auto;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  section#about img {
    max-height: 50vh;
    z-index: 10;
  }
}

section#about img.right-img {
  order: 1;
}

section#about img.left-img {
  order: 0;
  border-radius: 50%;
  max-width: calc(50vh);
}

@media screen and (min-width: 1024px) {
  section#about article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 0rem .5rem 0rem;
  }
}

section#about article div.content {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  section#about article div.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

section#about article div.content h2 {
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
}

section#about article div.content p {
  padding: .5rem 0;
  text-align: justify;
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
  section#about article div.content p {
    padding: 1rem;
  }
}

section#about article div.content .skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

section#about article div.content .skills li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

@media screen and (min-width: 1024px) {
  section#about article div.content .skills li {
    padding: 3rem 3.5rem;
  }
}

section#about article div.content .skills li svg {
  color: #d34545;
  margin: .5rem;
}

section#activities {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

section#activities div#acti-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-image: url("../img/acti.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh;
}

@media screen and (min-width: 1024px) {
  section#activities div#acti-banner {
    height: 42vh;
    background-position: bottom;
  }
}

section#activities div#acti-banner h1 {
  color: #2e2020;
  font-weight: normal;
}
/*# sourceMappingURL=about.css.map */