@import 'mixin';
$large: 1024px;

* {
    margin: 0;
    padding: 0;
    // top: 0;
    // left: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
body{
    z-index: 10;
    width: 100%;
    main{
        h1{
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 2rem;
            color: rgba($color: #000000, $alpha: 0.7)
        }
        h2{
            color: #484848;
        }
        background-color: rgb(240, 240, 240);
        section{
            width: 95%;
            @include flex();
            align-items: center;
            flex-direction: column;
            @media screen and (min-width:$large){
                align-items: flex-start;
                width: 85%;
            }
            margin: auto;
            padding: 2rem 0;
            a{
                color:#ff6060;
                &:hover{
                    color:#e64e4e;
                }
            }
            p{
                padding: .5rem;
            }
            div.title{
                border-left: .2rem solid #e64e4e;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-right: .2rem solid #e64e4e;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                @media screen and (min-width:$large){
                    border-right: 0rem;
                }
                margin: 0 0 .5rem 0;
                .title{
                    margin: .3rem 1rem;
                    color: #d34545;
                }
                .subtitle{
                    text-align: center;
                    @media screen and (min-width:$large){
                        text-align: left;
                    }
                    margin: .5rem 1rem;
                    font-weight: normal;
                    font-size: 1.2rem;
                }


            }
            .profile{
                @include flex();
                flex-direction: column;
                align-items: center;
                padding-top: 1rem;
                @media screen and (min-width:$large){
                    padding-top: .5rem;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                margin: 0;
                width: 100%;
                .pic{
                    width: 100%;
                    @media screen and (min-width:$large){
                        width: 25%;
                        /* ADDED */
                        border-top-right-radius: 80% 100%;
                        border-bottom-right-radius: 80% 100%;
                        /* END ADDED */
                    }
                    min-width: 250px;
                    max-width: 400px;
                    @include flex();
                    justify-content: center;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        // height: 90%;
                        width: 85%;
                    }
                }
                .info{
                    padding: 1rem .5rem;
                    width: 100%;
                    @media screen and (min-width:$large){
                        padding: 0 .5rem;                        
                    }
                    flex-grow: 1;
                    text-align: justify;
                    h2{
                        border-radius: 7px;
                        text-align: center;
                        @media screen and (min-width:$large){
                            text-align: left;
                        }
                        color: #de4444;
                        font-weight: 300;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        text-transform: uppercase;
                        padding: 0.8rem 1rem;
                    }
                    .content{
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        @media screen and (min-width:$large){
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                        }
                        p{
                            width: 100%;
                            svg{
                                margin: 0 .5rem;
                            }
                            @media screen and (min-width:$large){
                                width: 50%;
                                font-size: 1.2rem;
                                margin: .75rem 0;
                                padding-left: 1.5rem;
                            }
                        }
                    }
                }
            }
            .parcours{
                margin: 0;
                width: 100%;                
                min-height: 60vh;
                color: rgb(0, 0, 0);
                .accordion{
                    width: 100%;
                    margin: 1rem 0;
                    border-radius: 0px 0px 5px 5px;
                    &.is-opened{
                        .acc-title img{
                            transform: scaleY(-1);
                        }
                    }
                    .content{
                        display: none;
                    }
                    .acc-title{
                        @include flex();
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                        background-color: #e7e7e7;
                        h3{
                            color:#de4444;
                            text-transform: uppercase;
                        }
                        img{
                            height:20px;
                            transform: scaleY(1);
                            transition: transform 0.3s ease-in;
                        }
                    }
                    p{
                        padding: .5rem;
                    }
                }
            }
        }
    }
}
ul{
    list-style: none;
    list-style-type: none;
    li{
        display: inline-block;
    }
}
a{
    color:none;
    text-decoration: none;
    &:hover{
        color: none;
        text-decoration: none;
    }
}
.container{
    @include flex();
}
.btn-discover{
    background-color: #de4444;
    border:none;
    text-transform: uppercase;
    outline-color: transparent;
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
    box-shadow: 2px 2px 8px rgba($color: #000000, $alpha: 0.3);
    color: white;
    font-size: 1.2rem;
    border-radius: .2rem;
    transition: all .5s ease-in-out;
    &:hover{
        background-color: #424242;
        color:#de4444;
    }
}
.red{
    color: #de4444;
}
.section-sep{
    height: 1vh;
    width: 95%;
    margin: 1rem auto;
    @media screen and (min-width:$large){
        margin: 3rem auto;    
    }
    border: 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.3)
}

.alert-info{
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(116, 163, 252,0.2);
}

.btn-download{
    background-color: rgb(111, 156, 38);
    padding: .5rem;
    color: white;
    border-radius: .1rem;
    transition: all .5s;
    svg{
        margin-right:.5rem;
    }
    &:hover{
        background-color: rgb(137, 194, 45);
        color:white;
    }
}
